<nav class=" w-full h-24 flex bg-sky-400 itmes-center justify-between">

<h1 class="py-4 text-xl font-semibold">BLOG WEB</h1>
  <div class="py-4 atags flex gap-5">
    <a href="/">home</a>
    <a href="/">create blog</a>
    <a href="/contact">contact</a>
    <a href="/about">about</a>
    </div>
    <div class=" py-5 login-singup">
        <a class="bg-zinc-300 px-4 py 2 rounded"  href="/login">login</a>
        <a class="bg-zinc-300 px-4 py 2 rounded"  href="/register">register</a>
    </div>
</nav>