<%- include("partials/header")%>
   <%- include("partials/nav")%>

     <div class=" w-[70%]  mt-5 mb-2 mr-5 text-center bg-cyan-100 ">
      <h1 class=" mt-5 text-lg">this is blog website</h1>
      <h2 class=" mt-5 text-lg mt-5 fw-bolder">welcome to you in my blogs</h2>
      <button class="mt-5 text-lg">explore more</button>
     </div>


   
   <%- include("partials/footer")%>
